{% extends 'base.html' %}
{% block main %}
<form method="GET" action="/signUp">
    <div style="display: block; min-height: 70px;">
        <label for="firstName">Имя: </label>
        <input name="firstName" id="firstName"/>
    </div>
    <div style="display: block; min-height: 70px;">
        <label for="lastName">Фамилия:</label>
        <input name="lastName" id="lastName"/>
    </div>
    <div style="display: block; min-height: 70px;">
        <button type="submit">Регистрация</button>
    </div>
</form>
{% endblock %}